* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to top,
        #264025,
        #7b4b36
    );
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #ddcbb7;
    padding: 24px;
}

#navbar h2 {
    margin-right: auto;
    color: #ddcbb7;
}