#subheading {
    font-size: 35px
}

body {
    font-family: Georgia;
    padding: 36px;
}

/* #main-content {
    min-width: 400px;
} */

#headings {
    font-style: italic;
}

#sidebar-columns {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 12px;
}


#columns {
    display: flex;
    margin: auto;
}

#side-content {
    border: 1px solid #a2a9b1;
    padding: 8px;
    background-color: #f8f9fa;
    min-height: 300px;
    margin: 0px 10px;
}

#side-content img {
    padding: 0px 24px;
}

#side-content h3 {
    text-align: center;
}

#sidebar-columns span a {
    text-decoration: none;
}
