@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Give+You+Glory&family=Jacques+Francois+Shadow&family=Moon+Dance&family=Neonderthaw&family=Oleo+Script:wght@400;700&family=Petit+Formal+Script&family=Pompiere&family=Sail&family=Sirin+Stencil&family=Srisakdi:wght@400;700&family=Vast+Shadow&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #526760;
}

.main {
    text-align: center;
    font-family: "Vast Shadow", serif;
    color: #ECECE8;
}

#hero {
    background-image: url('../images/portfolio-hero-5.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
    position: relative;
}

#hero #hero-content {
    position: absolute;
    right: 10%;
    top: 40%;
    text-align: right;
}


#hero h3 {
    font-family: "Fraunces", serif;
    font-size: 48px;
    color: #BD6B73;
    background-position: center center;
    padding-bottom: 18px;

}

#hero a {
    background-color: #BD6B73;
    padding: 12px 48px;
    text-decoration: none;
    color: #ECECE8;
    border-radius: 15px;
    font-family: "Sail", serif;
    font-size: 32px;
    font-style: oblique;
}

#row {
    width: 90vw;
    max-width: 1200px;
    margin: 48px auto;
    display: flex;
    justify-content: space-evenly;
}

#row .cards {
    width: 300px;
    border: 2px solid #E9D2C0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #39312b;
    text-align: center;
    padding-bottom: 50px;
    background-color: #ecece8;
}

#row .cards h3 {
    font-family: "Fraunces", serif;
    font-size: 28px;
    padding-bottom: 28px;
    color: #BD6B73;
}

#row .cards a {
    background-color: #BD6B73;
    padding: 12px;
    text-decoration: none;
    color: #ECECE8;
    font-family: "Sail", serif;
    font-style: oblique;
    font-size: 24px;
    border-radius: 18px;
}

.homepage {
    margin: 0px;
    font-family: "Dancing Script", serif;
    font-size: 24px;
}

.homepage a {
    color: #ECECE8;
    text-decoration: none;
    padding: 0px;
    border-bottom: 2px solid #ECECE8;
}

.parallax {
    height: 200vh;
    background-image: url("../images/zain-landscape.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0px;
    height: 50vh;
    z-index: 1;
}

.parallax h2 {
    font-family: "Neonderthaw", serif;
    font-size: 150px;
    position: fixed;
    left: 1100px;
    margin: 0px;
}

#gallery-layout {
    position: relative;
    z-index: 2;
    background-color: #526760;
    display: flex;
    flex-direction: column column;
    justify-content: center;
    flex-wrap: wrap;
}

#background {
    position: relative;
    z-index: 2;
    background-color: #526760;
    padding: 24px;
}

#background h2 {
    margin-top: 0px;
    padding: 24px 0px;
    margin: 24px;
    text-align: center;
    font-family: "Give You Glory", serif;
    font-size: 42px;
    color: #ECECE8;
}

.card-1, .card-2 {
    border: 2px solid black;
    max-width: 300px;
    min-width: 230px;
    min-height: 200px;
    padding: 12px 0px;
    margin-top: 24px;
    border-radius: 8px;
    box-shadow: -4px 4px 8px #2c3935;
    margin: 20px 50px;
    background-color: #ECECE8;
    border: 2px solid #E9D2C0;
}

.card-1 {
    flex: 1;
}

.card-2 {
    flex: 2;
}



#gallery-layout .card-1 h3 {
    margin-bottom: 12px;
    color: #BD6B73;
    font-family: "Fraunces", serif;
    font-size: 28px;
}

#gallery-layout .card-2 h3 {
    margin-bottom: 12px;
    color: #BD6B73;
    font-family: "Fraunces", serif;
    font-size: 28px;
}

#gallery-layout .card-1 a {
    font-family: "Sail", serif;
    color: black;
    text-decoration: none;
    font-size: 24px;
    background-color: #BD6B73;
    padding: 8px;
    border-radius: 18px;
    color: #ECECE8;
}

#gallery-layout .card-2 a {
    font-family: "Sail", serif;
    color: black;
    text-decoration: none;
    font-size: 24px;
    background-color: #BD6B73;
    padding: 8px;
    border-radius: 18px;
    color: #ECECE8;
}

/* LOGO PAGE */

.logo-layout {
    max-width: 1100px;
    margin: 0px auto;
    text-align: center;
}

/* .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #333333;
    grid-auto-rows: 200px; 
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.logo-gallery {
    columns: 2 auto;
    column-gap: 24px;
}

.logo-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

.gallery-title {
    text-align: center;
    color: #ECECE8;
    font-family: "Jacques Francois Shadow", serif;
    font-size: 38px;
}

.styleguide-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
}

.styleguide-gallery img {
    width: 100%;
}

/* illustration page */

.illustrations-gallery {
    columns: 3 auto;
}

.illustrations-gallery img {
    width: 100%;
}

/* web layout page */

.web-gallery {
        width: 90vw;
        max-width: 1200px;
        margin: 48px auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 24px;
}

.web-gallery img {
    width: 100%;
    object-fit: cover;
}

.ads-gallery {
    columns: 2 auto;
    column-gap: 24px;
}

.ads-gallery img {
    width: 100%;
    margin-bottom: 24px;
}