/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-container {
    display: flex;
}

.card-style-2 {
    background-color: white;
    border-radius: 50px;
    max-width: 358px; 
    text-align: center;
    padding: 20px;
    margin: 20px;
    min-height: 530px;
}

.card-style-2 img {
    width: 200px;
    border-radius: 50%;
}

.card-style-2 .brand-name {
    font-size: 30px;
    margin-left: 80px;
}

.card-style-2 .profile-pic-container img {
    margin-top: 32px;
}

.card-style-2 p {
    margin: 0px 24px 50px 24px;
    
}

.card-style-2 .animagram-footer { 
    font-size: 24px;
    margin: 0px 12px;
    display: flex;
    justify-content: space-between;
}