* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#green,
#blue,
#red,
#orange {
    width: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

#green {
    transition:
        background-color 0.5s;
}

#green:hover {
    background-color: green;
}

#red {
    transition:
        background-color 0.5s;
}

#red:hover {
    background-color: red;
}

#blue {
    transition:
        background-color 0.5s;
}

#blue:hover {
    background-color: blue;
}

#orange {
    transition:
        background-color 0.5s;
}

#orange:hover {
    background-color: orange;
}

#opacity1,
#opacity2,
#opacity3,
#opacity4 {
    width: 300px;
    background: linear-gradient(
        grey,
        black
    );
    color: white;
    margin: 24px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

#opacity1 {
    transition:
        opacity 0.5s
}

#opacity1:hover {
    opacity: 0.75;
}

#opacity2 {
    transition:
        opacity 0.5s
}

#opacity2:hover {
    opacity: 0.5;
}

#opacity3 {
    transition:
        opacity 0.5s
}

#opacity3:hover {
    opacity: 0.25;
}

#opacity4 {
    transition:
        opacity 0.5s
}

#opacity4:hover {
    opacity: 0;
}

#lion h2,
#elephant,
#tiger,
#bear {
    width: 300px;
    height: 300px;
    margin: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}

#lion img {
    width: 100%
}

