* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    /* background-color: lightgoldenrodyellow; */
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color: lightgoldenrodyellow;
    padding: 60px 0px;
}

.dark-container {
    background-color: #013d01;
    color: white;
    padding: 48px;
}