/* Drill 1 - Write your code solution below */
#d1-p1 {
    color: green
}

/* Drill 2 - Write your code solution below */
#d2-s1 {
    color: #F711F7;
}
#d2-s3 {
    color: #F711F7;
}

/* Drill 3 - Write your code solution below */
#d3-s1 {
    color: red;
}

#d3-s4 {
    color: goldenrod;
}

#d3-s6 {
    color: blue;
}

/* Drill 4 - Write your code solution below */
#d4-p1 {
    background-color: skyblue
}

/* Drill 5 - Write your code solution below */
#d5-p1 {
    background-color: pink;
}
#d5-p2 {
    background-color: lightcoral;
}
#d5-div1 {
    background-color: peachpuff;
}