div {
    border: 10px inset hotpink;
    margin: 24px 0px;
    padding: 24px 36px;
}
p {
    margin: 60px;
    padding: 48px 60px;
    background-color: cornflowerblue;
    border-radius: 4px;
    border: 5px solid blue;
}