@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Jacques+Francois+Shadow&family=Neonderthaw&family=Petit+Formal+Script&family=Pompiere&family=Sirin+Stencil&family=Vast+Shadow&display=swap');

h1 {
    font-family: "Aboreto", system-ui;
    font-size: 52px;
}

p {
    font-family: "Jacques Francois Shadow", serif;
    font-size: 24px;
    background-color: #333333;
    color: white;
}