/* Drill 1 - Write your code solution below */
#d1-div1 {
    margin-bottom: 20px;
}

/* Drill 2 - Write your code solution below */
#d2-div2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Drill 3 - Write your code solution below */
#d3-div2 {
    margin-top: 25px;
}

/* Drill 4 - Write your code solution below */
#d4-div2 {
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Drill 5 - Write your code solution below */
.d5-div {
    text-align: center;
}
#d5-h5-1 {
    margin-bottom: 0px;
}
 #d5-h1-1 {
    margin-top: 0px;
    margin-bottom: 0px;
 }
 #d5-h2-1 {
    margin-bottom: 0px;
    margin-top: 8px;
 }

/* Drill 6 - Write your code solution below */
/* #d6-div1,
#d6-div2,
#d6-div3,
#d6-div4 {
    margin-right: 48px
} */
 .d6-div {
    margin-right: 48px;
 }


/* Drill 7 - Write your code solution below */
#d7-container {
    text-align: center;
}
.d7-div {
    margin-left: 24px;
    margin-right: 24px;
}