#first-paragraph {
    color: blue;
    background-color: pink;
    font-style: italic;
    text-align: right;
}

#second-paragraph {
    color: #FF0000;
    Background-color: black;
    font-size: 30px;
}

#bold-paragraph {
    font-weight: bold;
    background-color: green;
    font-family: fantasy;
}

#span1 {
    color: crimson;
    font-weight: bold;
    font-size: 48px;
}

#span2 {
    font-style: italic;
    text-decoration: line-through;
}

#span3 {
    background-color: yellow;
}

#span4 {
    text-align: right;
}