/* Drill 1 - Write your code solution below */
#column-d1 {
    width: 300px;
}

/* Drill 2 - Write your code solution below */
#column-d2 {
    margin-left: auto;
    width: 300px;
}

/* Drill 3 - Write your code solution below */
#column-d3 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

/* Drill 5 - Write your code solution below */
#container-d5-1 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#container-d5-2 {
    margin-left: auto;
    width: 300px;
}

#container-d5-3 {
    margin-right: auto;
    width: 300px;
}