/* Drill 1 - Write your code solution below */
#container-d1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Drill 2 - Write your code solution below */
#container-d2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Drill 3 - Write your code solution below */
#container-d3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "one two three";
}
#d3-cell1 {
    grid-area: one;
}
#d3-cell2 {
    grid-area: two;
}
#d3-cell3 {
    grid-area: three;
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "two three one";
}
#d4-cell2 {
    grid-area: two;
}
#d4-cell3 {
    grid-area: three;
}
#d4-cell1 {
    grid-area: one;
}

/* Drill 5 - Write your code solution below */
#container-d5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "one one one"
        "three two two";
}
#d5-cell1 {
    grid-area: one;
}
#d5-cell2 {
    grid-area: two;
}
#d5-cell3 {
    grid-area: three;
}

/* Drill 6 - Write your code solution below */
#container-d6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "one two"
        "three three"
}
#d6-cell1 {
    grid-area: one;
}
#d6-cell2 {
    grid-area: two;
}
#d6-cell3 {
    grid-area: three;
}
