* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/orange-sunset.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}

#hero-1 .hero-content {
    position: absolute;
    top: 20%;
    left: 20%;
}

#hero-1 .hero-content a {
    text-decoration: none;
    background-color: #fdfdb4;
    color: black;
    padding: 24px;
    display: inline-block;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 100px;
    font-weight: bold;
}

#hero-1 .hero-content h2 {
    font-size: 32px;
    color: #fdfdb4;
}

#hero-1 .hero-content h4 {
    font-size: 20px;
    color: #fdfdb4;
}

#hero-2 {
    background-image: url("../images/asymmetrical-sand.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 100px;
}

#hero-2 .hero-content {
    position: absolute;
    top: 20%;
    right: 10%;
}

#hero-2 .hero-content a {
    text-decoration: none;
    background-color: #9dc183;
    color: black;
    padding: 24px;
    display: inline-block;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 100px;
    font-weight: bold;
}